* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer {
  background-color: white;
  color: white;
  margin-top: auto;
  text-align: center;
}
.footer1 {
  background-color: rgba(30, 152, 222, 0.635);
  padding: 4px;
}
.footer1-text {
  font-size: 16px;
}
.footer1-btn {
  background-color: white;
  color: black;
  padding: 8px;
  outline: none;
  border: none;
  margin-left: 8px;
  font-weight: 600;
}
.footer2 {
  background-color: black;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
